*/node_modules/
*/.env
*/package-lock.json
*/.DS_Store
/dist/
/logs/
*.log
*.tmp
.idea/
.vscode/
*.swp
*.bak
Thumbs.db
/frontend/build/
/backend/build/
/frontend/.nuxt/*
*/frontend/.nuxt/*
frontend/.nuxt
frontend/.nuxt/
frontend/.nuxt/*
.nuxt/
*/frontend/.nuxt/*
.nuxt
.nuxt/
.nuxt/*
